body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bookItem{
	list-style-type:none;
	border-bottom:1px solid #444;
	cursor: pointer;
	padding:10px;
	position: relative;
}


.bookItem h1{
	margin:5px;
}

.bookItem p{
	margin:20px 10px;
}
.bookItem:hover{
	background-color:#ccc;
}

.ideaItem{
	list-style-type:none;
	border-bottom:1px solid #444;
	cursor: pointer;
	padding:10px;
	position: relative;	
}

.closeIdeas, .closeSteps{
	width:50px;
	height: 50px;
	position: absolute;
	top:10px;
	right:17px;
	background:url('img/close.png') center no-repeat;
	background-size:100%;
	cursor: pointer;
}

.go{
	background:url('img/go.png') center no-repeat;
	background-size:100%;
	width:50px;
	height: 50px;
	position: absolute;
	right:15px;
	top:calc(50% - 25px);
}